<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <link href="../static/fantasy.css" rel="stylesheet" />
</head>

<body>
  <header>
    <nav id="navigation">
      <a href="/exercise">Exercices Réalisés</a>
      <a href="/exercises">Banque d'Exercices</a>
      <a href="/profil">Mon Profil</a>
      <a href="/login">Se connecter</a>
    </nav>
    <h1 id="titre">SiDoRé</h1>
    <p> Vivez votre musique !</p>
  </header>
  <h2>Session de {{firstname}} {{name}}</h2>   

  <footer> 
    <nav id="footer">
      <a >À propos</a>
      <a >Aide </a>
      <a >Confidentialité</a>
      <a >Contact</a>
    </nav>
  </footer>
</body>

</html>