<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link href="../static/fantasy.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <h1 id="titre">SiDoRé</h1>
      <nav id="navigation">
        <a href="exos_realises.html">Exercices Réalisés</a>
        <a href="banque_exos.html">Banque d'Exercices</a>
        <a href="accueil.html">Mon Profil</a>
        <a href="connexion.html">Se connecter</a>
      </nav>
    </header>
    <h3>Exercices</h3>
  </body>
</html>
