<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link href="../static/fantasy.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <nav id="navigation">
        <a href="/exercises/{{session_id}}">Exercices Réalisés</a>
        <a href="/exercises">Banque d'Exercices</a>
        <a href="/profil">Mon Profil</a>
        <a href="/login">Se connecter</a>
      </nav>
      <a href="/"><h1 id="titre">SiDoRé</h1></a>
    </header>
    <fieldset id="add_exercice">
      <legend>Ajouter un nouvel exercice</legend>
      <br />
      <label for="title-select">Titre : </label>

      <select name="titre" id="titre-select">
        <option value="">--Veuillez choisir votre exercice--</option>
        <option value="name_exercice1">batterie1</option>
        <option value="name_exercice2">batterie2</option>
      </select>
      <br /><br />

      <legend>Tempo :</legend>

      <div>
        <input type="checkbox" id="tempo" name="70" checked />
        <label for="tempo">70</label>
      </div>

      <div>
        <input type="checkbox" id="tempo" name="80" />
        <label for="tempo">80</label>
      </div>
      <div>
        <input type="checkbox" id="tempo" name="90" />
        <label for="tempo">90</label>
      </div>
      <br />

      <input type="submit" id="add" value="AJOUTER" />
    </fieldset>

    <h3>Exercices réalisés</h3>
    <ul>
      <li>Instrument :</li>
      <li>Nom de l'exercice :</li>
      <li>Date :</li>
      <li>Tempo :</li>
    </ul>
  </body>
</html>
